#top{
    text-decoration: underline;
}

.Powell{
    color: rgb(8, 2, 132);
}
.Lake{
    font-style: italic;
    color: rgb(8, 2, 132);
}
.Lany{
    color:coral;
}
.Concert{
    font-style: italic;
    color: coral;
}
.BYU{
    color:goldenrod
}
.Yes{
    font-style:italic;
    color:goldenrod
}
body{
    background-color: rgb(215, 248, 250);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 5px solid black;
    margin: 20px;
    padding: 30px;
    text-align:center
}
ol{
    list-style-position: Left;
    text-align: left;
}
